<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center alin-content-center mt-5">
<div class="row">
    
<!-- <h1>Login</h1> -->
    <div class="col-lg-6 offset-lg-3  ">
        <div class="card shadow">
            <img src="https://media.istockphoto.com/id/907649404/photo/you-have-to-get-all-the-wood-in-order.jpg?b=1&s=170667a&w=0&k=20&c=LAI4F-iXg31g_P12XjCDAGPfbstCNLCjfR4zK4hUJOE=" alt="" class="card-img-top">

<div class="card-body">
    <h5 class="card-title">Login</h5>

            <form action="/login" method="POST" class="form was-validated" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" type="text" id="username" name="username" autofocus required>
            <div class="valid-feedback">
                Looks good!
            </div>
                </div>
                
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" class="form-control" type="text" id="password" name="password" required>
            <div class="valid-feedback">
                Looks good!
            </div>
                </div>
                <div class="d-grid gap-2">
                <button class="btn btn-success ">Login</button>
            </div>
            </form>


        </div>
        </div>
    </div>
</div>
</div>
















